html {
  padding-top: 0;
  font-family: sans-serif;
  background-color: black;
}
body {
  overflow-x: hidden
}

/*headeeeeeeeeeeeeer*/
.header {
    background-color: #00c853;
    margin: -10px -10px -10px -10px;
}
.logo {
  width:auto;
  height:120px;
}

.headerdiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.headerbuttondiv {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.headerbutton {
    color: black;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.headerbutton:hover {
  color: #00c853;
  background-color: black;
}

/*Boooooooooooooooooooooooody*/
h1 {
  font-size: 50px;
  padding-left: 10px;
  color: white;
}
.paragraf1 {
  float: left;
  padding-left: 10px;
  color: white;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.paragraf2 {
  float: right;
  padding-right: 10px;
  color: white;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.alan {
  padding-top: 300px;
}
.minialan1 {
  float: right;
}
.minialan2 {
  float: left;
}
.butonalan {
  float: left;
  padding-left: 10px;
}
.svg {
  max-width: 500px;
  height: auto;
}
a.button {
    float: left;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    font-size: 18px;
    margin: 20px 20px;
}
a.button:hover {
  color: white;
  background: #00c853;
  border-color: #00c853;
  transition: all 0.2s linear;
}
@media (max-width: 540px)
{
  .svg {
    width: 100%;
    height: auto;
  }
  .paragraf1, .paragraf2 {
    width: 90%;
  }
  a.button {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Fooooooooooooooooooooooooooooter*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #00c853;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-sosyal-ikon {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-sosyal-ikon ul{
    margin: auto;
    padding-bottom: 5px;
}
.footer-sosyal-ikon ul li{
  display: inline-block;
  width: 50px;
  height: 10px;
  margin: 10px 10px;
}
.footer-sosyal-ikon ul li a{
  font-size: 27px;
  color: black;
}
